{% extends 'base.html' %}

{% block page_title %}
    Detalhes de Produtos
{% endblock page_title %}

{% block content %}
<h1>Produto: {{ produto.title }}</h1>
<table>
  <tr>
    <td><strong>Descrição</strong></td><td>{{ produto.description  }}</td>
  </tr>
  <tr>
    <td><strong>Linha:</strong></td><td>{{ produto.line }}</td>
  </tr>
  <tr>
    <td><strong>Escala:</strong></td><td>{{ produto.scale}}</td>
  </tr>
  <tr>
    <td><strong>Vendedor:</strong></td><td>{{ produto.vendor}}</td>
  </tr>
  <tr>
    <td><strong>Estoque:</strong></td><td>{{ produto.quantity_in_stock}}</td>
  </tr>
  <tr>
    <td><strong>Preço:</strong></td><td>{{ produto.buy_price}}</td>
  </tr>
  <tr>
    <td><strong>Preço varejo:</strong></td><td>{{ produto.msrp }}</td>
  </tr>
  <tr>
    <td><strong>Criado em:</strong></td><td>{{ produto.created_at }}</td>
  </tr>

  <tr>
    <td><strong>Desativado:</strong></td><td>{{ produto.finished_at}}</td>
  </tr>
    <tr> 
      <table class="table">
        <tr>
            <td class="d-flex justify-content-left">
                <a href="{% url 'produto_complete' pk=produto.pk %}" class="btn btn-danger btn-sm mx-2 {% if produto.finished_at %}disabled{% endif %}">Desativar</a>
                <a href="{% url 'produto_delete' pk=produto.pk %}" class="btn btn-danger btn-sm mx-2">Excluir</a>
                <a href="{% url 'produto_update' pk=produto.pk %}" class="btn btn-warning btn-sm mx-2 {% if produto.finished_at %}disabled{% endif %}">Editar</a>
                <a href="{% url 'produto_list' %}" class="btn btn-primary btn-sm mx-2">Produtos</a>
            </td>
        </tr>
    </table>
    
    </tr>

</table>
{% endblock content %}


{% comment %} <tr> 
  <td>
    <a href="{% url 'produto_update' pk=produto.pk %}" class="btn btn-warning  btn-sm 
    {% if produto.finished_at %}disabled{% endif %}"
    >Editar</a>
  </td>
  <td>
    <a href="{% url 'produto_complete' pk=produto.pk %}" class="btn btn-danger btn-sm
    {% if produto.finished_at %}disabled{% endif %}"
    >Desativar</a>
  </td>
  <td>
    <a href="{% url 'produto_delete' pk=produto.pk %}" class="btn btn-danger btn-sm"> Excluir </a>
  </td>     
  <td>
    <a href="{% url 'produto_list'%}" class="btn btn-primary btn-sm">Produtos</a>
  </td>
</tr>

</table>
{% endblock content %} {% endcomment %}


{% comment %} 
<h1>Lista de Tarefas</h1>

<ul>
    {% for produto in produtos %}
        <li>{{ produto.title }}</li>
    {% endfor %}
</ul> {% endcomment %}