{% extends 'base.html' %}

{% block page_title %}
    Lista de Produtos
{% endblock page_title %}

{% block content %}
        <h2>Produtos</h2>
        {% if produto_list %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Criado em:</th>
                    <th scope="col">Desativado em:</th>                    
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                    {% for produto in produto_list  %}
                        <tr>
                            <th scope="row">{{produto.pk }}</th>
                            <td>{{ produto.title }}</td>
                            <td>{{ produto.description }}</td>   
                            <td>{{ produto.created_at }}</td>
                            <td>{{ produto.finished_at|default:"-"}}</td>
                            <td>
                               <a href="{% url 'produto_detail' pk=produto.pk %}" class="btn btn-info">Detalhes</a>
                              
                            </td>
                        </tr>
                    {% endfor %}            
                </tbody>
            </table>
        {% else %} 
            <p>No tasks</p>
        {% endif %}

        <a href="{% url 'produto_create' %}" class="btn btn-primary">Novo Produto</a>
{% endblock content %}





{% comment %} 
<h1>Lista de Tarefas</h1>

<ul>
    {% for produto in produtos %}
        <li>{{ produto.title }}</li>
    {% endfor %}
</ul> {% endcomment %}