{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block page_title %}
    {% if produto.pk %}
        Edição
    {% else %}
        Novo Produto
    {% endif %}
{% endblock page_title %}

{% block content %}
    {% if produto.pk %}
        <h1>Edição</h1>
    {% else %}
        <h1>Novo Produto</h1>
    {% endif %}
       
    <form method="POST">
        {% csrf_token %}

        {{ form|crispy }}
        
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
{% endblock content %}





{% comment %} 
<h1>Lista de Tarefas</h1>

<ul>
    {% for produto in produtos %}
        <li>{{ produto.title }}</li>
    {% endfor %}
</ul> {% endcomment %}